.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heartnotactive.svg);
    background-color: transparent;
    transition: all 0.3s ease;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.element__like:hover {
    opacity: 50%;
}

