.popup__container {
    background-color: white;
    border-radius: 8px;
    width: 430px;
    min-height: 350px;
    position: relative;
}

@media screen and (max-width: 568px) {
    .popup__container {
        width: 282px;
    }
}