.popup__close {
    height: 32px;
    width: 32px;
    position: absolute;
    top: -40px;
    left: 438px;
    background-color: transparent;
    background-image: url(../../../images/Close\ Icon.svg);
    background-size: cover;
    padding: 0;
    border: 0;
    object-fit: contain;
    transition: opacity 0.2s ease-in-out;
}

.popup__close:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 568px) {
    .popup__close {
        height: 20px;
        width: 20px;
        top: -37px;
        left: 260px;
    }
}