.popup__field {
    display: flex;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 29px;
    padding-left: 0;
    padding-bottom: 13px;
    outline: none;
    width: 354px;
    font-size: 14px;
    }
    
    .popup__field:last-of-type{
        padding-top: 18px;
    }

@media screen and (max-width: 568px) {
    .popup__field {
        width: 238px;
        padding-left: 0;
        padding-right: 0;
    }
}
